{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Your Site</title>

    <!-- Link to Tailwind-generated CSS -->
    <link href="{% static 'dist/main.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'images/argos-favicon-dark.png' %}">
    <script src="{% static 'js/categories.js' %}"></script>
</head>

<body class="bg-black text-white">
    <header class="bg-black border-b border-white text-white px-4 py-2 flex items-center justify-end gap-4 shadow-md">
        <img src="{% static 'images/argos-logo.png' %}" alt="Logo" class="h-16 w-auto" />
    </header>
    <div class="flex h-[calc(100vh-4rem)]">
        <section class="w-[70%] border-r border-white overflow-y-auto">
            {% block result_content %}{% endblock %}
        </section>
        <section class="w-[30%] p-8 overflow-y-auto">
            {% block chat_content %}{% endblock %}
        </section>
    </div>
</body>

</html>